<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <span class="navbar-brand mb-0 h1">Interview</span>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/home/">Home</a>
          </li>
      </ul>
      </div>
  </nav>

  <div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">姓名</th>
        <th scope="col">预约时间</th>
        <th scope="col">岗位</th>
        <th scope="col">学历</th>
        <th scope="col">面试状态</th>
        <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
  {% for candidate in candidates %}
    <tr>
        <th scope="row">{{ candidate.id }}</th>
        <td>{{ candidate.name }}</td>
        <td>{{ candidate.time }}</td>
        <td>{{ candidate.position }}</td>
        <td>{{ candidate.education }}</td>
        <td>{{ candidate.status }}</td>
        <td>
            <button type="button" class="btn btn-primary">查看</button>
            <button type="button" class="btn btn-primary" onClick="location.href='/interview/{{ candidate.id }}/'">面试</button>
        </td>

    </tr>
  {% endfor %}

  </tbody>
</table>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>